.gridbox{
    background-color:aqua;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "box1 box1 box3 box8"
    "box5 box6 box7 box7"
    

    ;
    gap: 5px;

}

.box{
    background-color: cadetblue;
    border: 1px solid black;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.box1{
    grid-area: box1;
}

.box2{
    grid-area: box2;
}
.box3{
    grid-area: box3;
}
.box4{
    grid-area: box4;
}

.box5{
    grid-area: box5;
}

.box6{
    grid-area: box6;
}

.box7{
    grid-area: box7;
}
.box8{
    grid-area: box8;
}




