.gridbox {
  background-color: aqua;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px;
}

.box {
  background-color: cadetblue;
  border: 1px solid black;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* for  extra small mobile  */
@media (max-width: 575px) {
  .gridbox {
    display: grid;
    grid-template-columns: 1fr;
  }
}

/* for small mobile */
@media (min-width: 576px) and (max-width: 767px) {
  .gridbox {
    grid-template-columns: auto auto;
  }
}
