.transform{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
}
/* css for all box */
.box{
    height: 100px;
    width: 100px;
    background-color: aqua;
}


/* for translate */
.box1:hover{
    transform: translate(40px);
}


/* for rotate*/
.box2:hover{
    transform: rotate(30deg);
}

/* for scale (helps to expand the element */
.box3:hover{
    transform: scale(2);
}

/* for skew  (helps to tilt)*/ 
.box4:hover{
    transform: skew(45deg);
}






